body {
  background-color: lightblue;
}

li {
  padding: 5px;
  margin: 5px;
  background: #554838;
  }
  
.label {
  font-weight: bold;
 }
  
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
  
.form-group {
  margin-bottom: 5px;
}

#main-title {
  text-align: center; 
}

#most-popular {
  text-align: center;
}