body {
    height: 100vh;
    margin: 0;
    animation-name: example;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

li {
  padding: 5px;
  margin: 5px;
  background: #554838;
  }

/* tr {
  overflow-y: scroll;
  overflow: scroll;
  max-height:300px;
  height: 50%;
  width: 95%;
} */

/* .scrollable {
  overflow-y: scroll;
  max-height: 50px;
  /* height: 50%; */
  /* height: 300px;
  width: 95%; */
/* } */ 
  
.label {
  font-weight: bold;
 }
  
.form-group {
  margin-bottom: 5px;
}

#main-title {
  text-align: center; 
}

#most-popular {
  text-align: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color: rgb(200, 137, 18);}
  25%  {background-color: rgb(196, 116, 24);}
  50%  {background-color: rgb(182, 127, 26);}
  75%  {background-color: rgb(196, 116, 24);}
  100%  {background-color: rgb(200, 137, 24);}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color: rgb(200, 137, 18);}
  25%  {background-color: rgb(196, 116, 24);}
  50%  {background-color: rgb(182, 127, 26);}
  75%  {background-color: rgb(196, 116, 24);}
  100%  {background-color: rgb(200, 137, 24);}
}