body {
  /* background-color: rgb(230, 177, 173); */
    height: 100vh;
    margin: 0;
    animation-name: example;
    /* background-color: red; */
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* background: radial-gradient(#893d38, #2b1004); */
    /* background-repeat: no-repeat; */
}

li {
  padding: 5px;
  margin: 5px;
  background: #554838;
  }
  
.label {
  font-weight: bold;
 }
  
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
  
.form-group {
  margin-bottom: 5px;
}

#main-title {
  text-align: center; 
}

#most-popular {
  text-align: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color: rgb(156, 133, 133);}
  25%  {background-color: rgb(196, 116, 24);}
  50%  {background-color: rgb(173, 230, 185);}
  100% {background-color: rgb(238, 241, 71);}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color: rgb(200, 137, 18);}
  25%  {background-color: rgb(196, 116, 24);}
  50%  {background-color: rgb(182, 127, 26);}
  75%  {background-color: rgb(196, 116, 24);}
  100%  {background-color: rgb(200, 137, 24);}
}