{{!-- Not used at this time --}}

<td>
    {{this.burger_name}}
</td>
<td>
    <th>
        <h3>
            <button data-burgerid="{{this.id}}" class="devoure">Re-Order it!</button>
        </h3>
    </th>

</td>